body {
  background-color: #0d1117;
  color: #4de7e7;
  font-family: "Expletus Sans", cursive;
}

.MuiLinearProgress-colorPrimary {
  background-color: black !important;
}

.drippy {
  font-family: "Nosifer", cursive;
}
